/.project
/Week 4/JSF31KochFractalFX - startup/dist/
/Week5/nbproject/private/
/Week5/build/
/Week5/dist/
/Week 6/nbproject/private/
/Week 6/dist/
/Week 6/build/
/Week 6/JavaApplication5/nbproject/private/
/Week 6/ExampleCircleBarrier/nbproject/private/
/Week 6/Project/build/
/Week 6/Project/dist/
Week 6/Project/nbproject/private/private.properties